{# templates/base.html #}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4E4272">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../static/img/logo.png" alt="MatchMates" width="40" height="40" class="d-inline-block align-top">
      MATCHMATES
    </a>
    <span class="navbar-text">
        Открыто для всех - соединяем сердца и ищем друзей!
    </span>
  </div>
</nav>




<style>

body{
    background-color:#3B3176;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-bottom: 100px;
}

.fixed-bottom {
    
    position: fixed;
    bottom: 0px;

}
</style>

<body >


  {% block content %}
    
  {% endblock content %}

 


    
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Найти имя куки, начинающееся с переданного имени
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}




function like(id){
    var csrftoken = getCookie('csrftoken');
    $.ajaxSetup({beforeSend: function(xhr, settings) {
    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
    }
}
});

    $.ajax({
        type: "POST", // Метод запроса
        url: "/musik/like/1", // url запроса
        data: {                 // Параметры для запроса
            'id': id,
            'X-CSRFToken': csrftoken
        },
        success: function(response) { // Код который выполнится  для удачного запроса
            console.log(response);

        },
        error: function(response) { // Код который выполнится  при ошибке запроса
            console.log(response);
    }

});

}
    </script>
</body>

{% block footer %}

<footer class='fixed-bottom' style="background-color: #4E4272; border-top: 1px solid #6B5B95; padding: auto; ">
    <div class="container md-6">
        <div class="row col-sm-12 btn-sm-3 col-md-12 col-xs-3 col-xxl-12 col-lg-12">
            <div class="col  text-center">
                <a href="/profile/{{current_user.id}}" class="btn btn-outline-light btn-sm" role="button">
                    <i class="bi bi-person"></i> Профиль
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="/surveys" class="btn btn-outline-light btn-sm" role="button">
                    <i class="bi bi-list-check"></i> Анкеты
                </a>
            </div>
            <div class="col  text-center">
                <a href="/messages" class="btn btn-outline-light btn-sm" role="button">
                    <i class="bi bi-envelope"></i> Сообщения
                </a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" rel="stylesheet">
