{% extends 'base.html' %}

{% block content %}
<div class="text-center my-4">
    <!-- Avatar with white border -->
    

        <!-- Avatar with white border and change on click functionality -->
        <div  class="avatar-container">
            <img src="{{ current_user.photo }}" alt="avatar"   onclick="document.getElementById('avatarInput').click();" style="border-radius: 50%; border: 2px solid white; width: 180px; height: 180px; cursor: pointer;">
        </div>

        <input type="file" id="avatarInput" style="display: none;" onchange="uploadAvatar(this)">

        <script>
        function uploadAvatar(input) {
            if (input.files && input.files[0]) {
                var formData = new FormData();
                formData.append('avatar', input.files[0]);
                $.ajax({
    url: "{{ url_for('update_photo') }}",
    type: "POST",
    data: formData,
    success: function (msg) {
    alert('Фото загружено, пройдет какое то время, прежде чем она отобразится')
    },
    cache: false,
    contentType: false,
    processData: false
});
                
                }
                
            
            }
        
        </script>
    




    <!-- Rating with gradient text and tooltip -->
    <div class="my-3">
        <!-- Button to show rating with a tooltip and gradient border -->
        <button id="ratingButton" class="gradient-border" onmouseover="showRatingTooltip()" onmouseout="hideRatingTooltip()">Показать рейтинг</button>
        <div id="ratingTooltip" style="display:none; position: absolute; background-color: #f9f9f9; border: 1px solid #d3d3d3; padding: 5px; z-index: 1;">
            Ваш рейтинг: {{ current_user.rating }}
        </div>

        <script>
            function showRatingTooltip() {
                var tooltip = document.getElementById('ratingTooltip');
                tooltip.style.display = 'block';
            }

            function hideRatingTooltip() {
                var tooltip = document.getElementById('ratingTooltip');
                tooltip.style.display = 'none';
            }
        </script>
        <style>
            .gradient-border {
                border: none;
                padding: 10px 20px;
                background: linear-gradient(45deg, #f3ec78, #af4261);
                color: rgb(136, 5, 5);
                cursor: pointer;
                outline: none;
                position: relative;
            }

            .gradient-border:hover:before {
                content: '';
                position: absolute;
                top: -2px;
                right: -2px;
                bottom: -2px;
                left: -2px;
                background: linear-gradient(45deg, #f3ec78, #af4261);
                z-index: -1;
            }
        </style>
        </div>  
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</div>

<!-- Profile update form -->
<div class="container">
    <form action="{{ url_for('update_description') }}" method="post">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <!-- Description field -->
                <span class="gradient-text fs-3">Описание:</span>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" name="description" placeholder="Текущее: {{ current_user.description }}">
                </div>
                <!-- Birthdate field with calendar icon -->
                <span class="gradient-text fs-3">Дата рождения:</span>
                <div class="form-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        <input type="date" class="form-control" name="dob" value="{{ current_user.dob }}" required>
                    </div>
                
                    
                </div>
                <span class="gradient-text fs-3">Город:</span>
                <div class="form-group mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        <input type="text" class="form-control" name="city" value="{{ current_user.city }}">
                    </div>
                </div>
                <!-- кнопка сохранить изменения посередине -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </form>
</div>







<script>
    // Initialize tooltip
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>

<style>

    .btn {
	width: 200px;

	   }
    /* Gradient text style */
    .gradient-text {
        background: linear-gradient(45deg, #f3ec78, #af4261);
        background-clip: text;
        
        color: transparent;
    }

    /* Responsive updates */
    @media (max-width: 768px) {
        .form-group {
            margin-bottom: 1rem;
        }
    }
</style>
{% endblock content %}
